body
{
 font-family: Arial, sans-serif;
 margin: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 background-color: #f0f0f0;
}
.heading{
  margin-top: 20px;
}
.heading h1
{
 font-size: 24px;
 color:#333;
}
.parking-grid::before{
    background-color: rgba(255, 255, 255, 0.7);
}
.parking-grid{
  display: grid;
  position: relative; 
  grid-template-columns: repeat(8, 170px);
  grid-template-rows: repeat(5, 80px);
  column-gap: 6px; 
  row-gap: 10px;
  justify-content: center; 
  align-content: center; 
  text-align: center;
  padding:10px 50px 10px 50px;
  border:6px solid black;
  background-image: url('images/parkedcars.jpg');
   
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: 0.1;
  background-size: 100%;
}
.spot {
    height: 30px;
    width: 110px;
    padding-top: 20%;
    border: 1px solid #ccc;
    background-color: #2ecc71; /* Default color for available spots */
}
.available {
    background-color: #2ecc71; /* Customize the color for available spots */
}

.occupied {
    background-color: #e74c3c; /* Customize the color for occupied spots */
}
